<?xml version="1.0"?>
<configuration>
  <configSections>  
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/> 
  </configSections>
  
  <appSettings>
    
    
    
    

<!--social media database setting start-->    
    <add key="connectionString" value="Server=10.168.178.132;Database=SocialMediaTest;User Id=RWuser4SocialMediaTestDB;Password = Sjynige2b;" />    
<!--social media database setting end-->    
    

<!--social media setting start-->
    <!--search mail in a certain folder-->
    <add key="mailFolderName" value="PBI Social media" />    
    <!--search mail with a subject filter-->
    <add key="mailSubjectFilter" value="(Triage)" />
    <!--search mail with a DateTimeReceived filter, in last n days-->
    <add key="DateTimeReceived" value="20" />
    <!--the filter to get the question table box-->
    <add key="tableHeader" value="Power BI Social Media Escalation" />
<!--social media setting end-->

<!--alerting mail setting start-->    
      <!-- smtp server -->
      <add key="smtpServer" value="smtp.gmail.com" />
      <!-- smtp server port -->
      <add key="smtpServerPort" value="587" />
      <!-- mailAccount -->
      <add key="mailAccount" value="zhll2049@gmail.com" />
      <!-- mailPassword -->
      <add key="mailPassword" value="Sjynige2b" />
      <!-- mailToList -->
      <add key="mailToList" value="v-lvzhan@microsoft.com" />
      <!-- mailCopyList -->
      <add key="mailCopyList" value="v-lvzhan@microsoft.com" />
<!--alerting mail setting End-->
    
    </appSettings>

  <log4net>
    <!--
  This writes the log information to the console window.  It only logs events
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <!--
  This stores information in the mylogfile.txt file.  It only captures log events
  that contain the key word test or error.
  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../mylogfile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
     <!-- <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="error"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>-->
       
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <!--<logger name="Exchange101.Ex15_FindItems">
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>--> 
  </log4net>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
