<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="Cloud.config">
        <!-- Your Azure subscription ID -->
        <add key="subscriptionId" value="7df9301f-26a4-44fa-a328-87f0e7bc3b36" />
        <!-- The Azure resource group name -->
        <add key="resourceGroup" value="4pbitest" />
        <!-- The Power BI Workspace Collection Name -->
        <add key="workspaceCollectionName" value="wrkspcCllctn4PBI" />
        <!-- The Power BI Workspace Collection Access Key -->
        <add key="accessKey" value="yi6Ow5Wqt7uboGx9B8wGYTID9RQUI1uDexJLZLblJ7vax5uBo4WbKgnKx3kZBZkKNb/Q3Lz02q7B7GY6HLPOqA==" />
        <!-- The Power BI Workspace-->
        <add key="workspaceId" value="b7cf433b-437c-4ca5-9df2-d9fd82182461" />
        <!-- Credentials to connect to datasource within Power BI -->
        <add key="username" value="" />
        <add key="password" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>