<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
   <appSettings> 
    <add key="sql" value="msdn_technet"/> 
    <add key="powerbi" value="powerbi"/> 
    <add key="powerapps" value="powerusers"/> 
    <add key="msflow" value="powerusers"/> 
  </appSettings>

  <!--
  
     CREATE TABLE TagsSumarizedTable
			(
			product CHAR(100),  
			platform char(100),
           StartDate CHAR(100),  
           EndDate CHAR(100), 
           Level1Node CHAR(100), 
           Level2Node CHAR(100),  
           Amount INT, 
           Id CHAR(100),  
		   InDate DATE DEFAULT GETDATE()  
			)
    
    -->
  


</configuration>