<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
      <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ericstorageaccount2;AccountKey=zjuTFV5LNPV+/qpTleoBJfuoElUTY3zR4OZ+PSKO00oVjer38w1CU+Ae0ihmjjuEtZMNRvmbT3mpOhcSgnckqw==;EndpointSuffix=core.windows.net" />
      </appSettings>
</configuration>